## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: kloak
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13.11.4),
 debhelper-compat (= 13),
 dh-apparmor,
 libevdev-dev,
 libinput-dev,
 libwayland-dev,
 libxkbcommon-dev,
 pkgconf
Homepage: https://github.com/vmonaco/kloak
Vcs-Browser: https://github.com/vmonaco/kloak
Vcs-Git: https://github.com/vmonaco/kloak.git
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: kloak
## Related tickets:
## https://github.com/vmonaco/kloak/issues/24
## https://github.com/vmonaco/kloak/issues/25
##
## Bug:
## Actually building might be possible but cross building using qemu has issues:
## https://github.com/vivier/qemu-m68k/issues/38
## Update: in above link it is being said that it was fixed.
## Could try again in Debian bullseye or above.
##
## Bug:
## https://bugs.launchpad.net/qemu/+bug/1756519
## https://bugs.launchpad.net/qemu/+bug/1793539
## qemu:handle_cpu_signal received signal outside vCPU context @ pc=0x60269d8c
## qemu:handle_cpu_signal received signal outside vCPU context @ pc=0x6000178c
## Update: Same as above.
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3
Description: privacy tool for anonymizing keyboard and mouse use
 A keystroke and mouse-level online anonymization kernel.
 A tool to prevent tracking through keyboard and mouse input.
 .
 Real-time anonymization for input devices like keyboards and mice,
 designed to counter tracking techniques.
 .
 Helps protect your privacy by making it harder to identify you based on
 how you type or move your mouse.
 .
 For keyboards, it hides patterns by changing the timing between each key
 press and release. These patterns, known as keystroke biometrics, could
 otherwise be used to recognize individuals.
 .
 For mice, it introduces random changes to the timing and number of
 movements, and modifies the mouse pointer path. This helps prevent
 mouse biometrics from revealing identity.
 .
 kloak is designed for use only with the Wayland display server.
 .
 https://www.whonix.org/wiki/Keystroke_and_Mouse_Deanonymization#Kloak
 .
 Technical details:
 * Obfuscates time intervals between keyboard input events.
 * Obfuscates time intervals, frequency, and pointer paths for mouse input.

